#linear {
    height: 200px;
    /* background-image: linear-gradient(to right, green, yellow, red); */
    background-image: linear-gradient(to right, rgba(0, 128, 0, 1.0), rgba(255, 255, 0, 1.0), rgba(255, 0, 0, 1.0));
}

#radial {
    height: 200px;
    /* background-image: radial-gradient(circle, yellow, white, blue); */
    background-image: radial-gradient(circle, rgba(255, 255, 0, 1.0), rgba(255, 255, 255, 1.0), rgba(0, 0, 255, 1.0));
}

#conic {
    height: 200px;
    /* background-image: conic-gradient(orange, pink, brown, purple); */
    background-image: conic-gradient(rgba(255, 165, 0, 1.0), rgba(255, 192, 203, 1.0), rgba(165, 42, 42, 1.0), rgba(128, 0, 128, 1.0));
}

#rainbow {
    height: 200px;
    /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
    background-image: linear-gradient(to right, rgba(255, 0, 0, 1.0),rgba(255, 165, 0, 1.0),rgba(255, 255, 0, 1.0),rgba(0, 128, 0, 1.0),rgba(0, 0, 255, 1.0),rgba(75, 0, 130, 1.0),rgba(238, 130, 238, 1.0));
}